<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
	
	<mapper namespace="member"> 
	
		<!-- 회원가입 --> 
		<insert id="join" parameterType="dto.MemberDTO"> 
			insert into member 
			values( 
			#{mem_id}, 
			#{mem_pw}, 
			#{mem_nickname},
			#{mem_email}, 
			#{mem_address}, 
			#{mem_detailaddress}, 
			0 
			) 
		</insert> 
	</mapper>

