@charset "EUC-KR";

* {
	margin: 0;
	padding: 0;
	font-family: HCR Batang; 
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar-wrap{
	text-align: center;
	height: 100%; 
	width: 100%;
}

.background {
	margin-top : -50px;
	display: inline-block;
	width: 100%;
	font-weight:bold;
	background-color: #FAF4C0;
}

.frame{
	height: 750px; 
	display: inline-block;
	width: 800px;
}

.title {
	display: inline-block;
	vertical-align: middle;
	margin-top : 10px;
	align-items: center;
	width: 700px;
}

.table{
	width: 700px;
}

.year {
	font-size: 35px;
}

.month {
	font-size: 40px;
}

.nav {
	margin-top : 10px;
	display: flex;
	justify-content: flex-end;
}

.nav-btn {
	width: 24px;
	height: 30px;
	border: none;
	font-size: 18px;
	background-color: transparent;
	cursor: pointer;
	font-weight:bold;
}

.go-today {
	width: 80px;
	font-size: 20px;
}

.main{
	display: inline-block;
	width: 700px;
}

.days {
	display: flex;
	margin: 25px 0 10px;
	font-size: 16px;
}

.day {
	width: calc(100%/ 7);
	text-align: center;
}

.dates {
	display: flex;
	flex-flow: row wrap;
	border-top: 1px solid #8C8C8C;
	border-right: 1px solid #8C8C8C;
	background-color: #FFFFFF;
}

.date {
	width: calc(100%/ 7);
	height: 100px;
	padding: 6px;
	text-align: right;
	border-bottom: 1px solid #8C8C8C;
	border-left: 1px solid #8C8C8C;
	position: relative;
	z-index: 0;
	background-color: #FFFFFF;
}

.day:nth-child(7n+1), .date:nth-child(7n+1) {
	color: #F15F5F;
}

.day:nth-child(7n), .date:nth-child(7n) {
	color: #4374D9;
}

.otherMonth {
	opacity: 0.3;
}

.today {
	position: relative;
	color: #000000;
}

.today::before {

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	border-color: #FF0000;
	background-color: #FFFFFF;
	transform: translate(-50%, -50%);
	content: '';
}

.indate{
	background-color: #FF0000;
}

.between{
	background-color: #FF0000;
}

.outdate{
	background-color: #FF0000;
}