<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.dare.mybatis.DiaryMapper">



<insert id="writeSave">
		insert into diary_board(
		num,title,time,person,indate,outdate,id,location1,image1,image2,image3,image4,image5,coment1,coment2,coment3,coment4,coment5,location2,location3)
		values(
		diary_board_seq.nextval,#{title},sysdate,#{person},#{indate},#{outdate},#{id},#{location1,jdbcType=VARCHAR},
		#{fis1, jdbcType=BLOB},#{fis2, jdbcType=BLOB},#{fis3, jdbcType=BLOB},#{fis4, jdbcType=BLOB},#{fis5, jdbcType=BLOB},
		#{coment1,jdbcType=VARCHAR},#{coment2,jdbcType=VARCHAR},#{coment3,jdbcType=VARCHAR},#{coment4,jdbcType=VARCHAR},#{coment5,jdbcType=VARCHAR},
		#{location2,jdbcType=VARCHAR},#{location3,jdbcType=VARCHAR})
	</insert>
	
	<select id="diaryList" resultMap="">
		select * from diary_board
	</select>

</mapper>