<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.dare.mybatis.JoinMapper"> 
	<resultMap id="join" type="com.care.dare.join.controller.MemberDTO">
		<id property ="id" column="id"></id>
		<result property="pwd" column="pwd"></result>
		<result property="nickname" column="nickname"></result>
		<result property="addr" column="addr"></result>
		<result property="email" column="email"></result>
		<result property="mailnumber" column="mailnumber"></result>
		<result property="detailaddr" column="detailaddr"></result>
	</resultMap>
	<select id="idcheck" resultMap ="join"> 
		select* from MEMBER_USER where id=#{id}
	</select>
	<insert id= "resister">
		insert into MEMBER_USER values(#{id}, #{pwd}, #{nickname}, #{addr}, #{email}, #{mailnumber}, #{detailaddr})
	</insert>
	<select id="loginproc" resultMap="join">
	select* from MEMBER_USER where id=#{id}
	</select>
	<select id="memberList" resultMap="join">
	select* from MEMBER_USER where id like '%' || #{search} || '%'
	</select>

	<select id="myHome" resultMap="join">
	select * from MEMBER_USER where id=#{id} 
	</select>
	
	<update id="myUpdate">
		update MEMBER_USER set pwd=#{pwd}, nickname=#{nickname}, addr=#{addr}, email=#{email}, mailnumber=#{mailnumber}, detailaddr=#{detailaddr} where id=#{id}
	</update>
	
	<delete id="accountDelete">
		delete from MEMBER_USER where id=#{id}
	</delete>
</mapper>
