<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.care.dare.mybatis.QnaMapper">
 	<resultMap type="com.care.dare.CS.DTO.QnaDTO" id="qna">
 		<id property="num" column="NUM"/>
 		<result property="questionTitle" column="QUESTION_TITLE"/>
 		<result property="questionContent" column="QUESTION_CONTENT"/>
 		<result property="questionId" column="QUESTION_ID"/>
 		<result property="questionTime" column="QUESTION_TIME"/>
 		<result property="answerContent" column="ANSWER_CONTENT"/>
 		<result property="answerTime" column="ANSWER_TIME"/>
 		<result property="status" column="STATUS"/>
 	</resultMap>
 	<select id="list2" resultMap="qna">
 		SELECT * FROM QUESTION_BOARD
 	</select>
 	<insert id="qnaWrite">
 		INSERT INTO QUESTION_BOARD VALUES(customer_service_seq.nextval,#{questionTitle},#{questionContent},#{questionId},
 		SYSDATE,NULL,NULL,'0')
 	</insert>
 	<select id="qnaBoard" resultMap="qna">
		select B.* from(select rownum rn, A.* from
        (select * from QUESTION_BOARD order by num desc)A)B where rn between #{s} and #{e}
	</select>
	<select id="userQnaBoard" resultMap="qna">
		select B.* from(select rownum rn, A.* from
        (select * from QUESTION_BOARD where QUESTION_ID=#{id} order by num desc)A)B where rn between #{s} and #{e}
	</select>
 	<select id="qnaCount" resultType="Integer">
 		select count(*) from QUESTION_BOARD
 	</select>
 	<select id="userQnaCount" resultType="Integer">
 		select count(*) from QUESTION_BOARD where QUESTION_ID = #{id}
 	</select>
 	<select id="qnaInfo" resultMap="qna">
 		select * from QUESTION_BOARD where NUM=#{NUM}
 	</select>
 	<delete id ="qnaDelete">
 		delete from QUESTION_BOARD  where NUM =#{NUM}
 	</delete>
 	<update id ="qnaModify">
 		update QUESTION_BOARD  set QUESTION_TITLE=#{questionTitle}, QUESTION_CONTENT =#{questionContent} where num = #{num} 
 	</update>
 	<update id="answerWrite">
 		update QUESTION_BOARD set ANSWER_CONTENT=#{answerContent}, ANSWER_TIME=SYSDATE, STATUS='1' where num=#{num}
 	</update>
 </mapper>